<div>

        <img *ngIf = "plan != undefined" src="https://junction-planreview.azurewebsites.net/api/patients/{{patient}}/plans/{{plan}}/RenderedBitmaps/{{value}}" alt="">
        
        <!--
        <mat-slider vertical  min="1" max="100" step=1 value="50" (input)="onInputChange($event)"></mat-slider>
        -->
        <mat-slider *ngIf = "plan != undefined"
                vertical
                thumbLabel
                [displayWith]="formatLabel"
                tickInterval="100"
                min="{{minValue}}"
                max="{{maxValue}}"
                [(ngModel)] = "value">
        </mat-slider>
</div>
