<form #loginForm="ngForm">
        <p style="font-size: 1.5em;">
            <b>Introduce your message</b>
        </p>
        <br>  
        <div style="width: 20em;">
          <h3> Destination: </h3>
            <mat-selection-list #people>
                <mat-list-option>
                    Physical
                </mat-list-option>
                <mat-list-option>
                    Oncologist
                </mat-list-option>
                <mat-list-option>
                    Patient
                </mat-list-option>
              </mat-selection-list>
        </div>
        
        <div >
            <mat-form-field style="width: 20em;" appearance="outline">
                <textarea matInput name="text" [(ngModel)]="textMessage" placeholder="Write your message..."></textarea>
            </mat-form-field>
        </div>
        
        <br>  
        
        <div>
          <button mat-flat-button color="primary" (click)="sendMessage(loginForm)">Send </button>
        </div> 
      
        <br>
      
        
</form>
