
<div class="wrapper-row selection">
        <div style="padding: 3%; " class="wrapper-row selection2">
                <form style="background-color:lightblue; padding: 1%;">
                <mat-form-field>
                <mat-label style="font-size:1.3em;">Patient</mat-label>
                        <mat-select [(ngModel)]="patient" name="patient">
                                <mat-option *ngFor="let patient of patients" [(value)]="patient" (click) = updatePlans()>
                                                                {{patient}}
                                </mat-option>
                                </mat-select>
                </mat-form-field>                                
                </form>
        <app-patient-info style="width:90%" [patient] = "patientInfo"></app-patient-info>   
        </div>
        <div style="padding: 3%;" >
        <form style="background-color:lightblue;  padding: 3%;">
                <mat-form-field >
                        <mat-label style="font-size:1.3em;">Plan</mat-label>
                                <mat-select [(ngModel)]="plan" name="plan">
                                        <mat-option *ngFor="let plan of plans" [(value)]="plan" (click) = getAllImages()>
                                                        {{plan}}
                                        </mat-option>
                                </mat-select>
                </mat-form-field>
        </form>
        </div>
</div>

<app-histograma  [patientIdSelected] = "patient" [planIdSelected]="plan"></app-histograma>

<div class="wrapper-row imagesPatientWrapper">
        <h3 *ngIf = "plan != undefined"> Plan {{plan}} </h3>
        <app-two-dimensional-image class="imagesPatient"
                [patient]="patient"
                [plan]="plan"
                [value]="value"
                >
        </app-two-dimensional-image>

        <div class="column-imag">

        <app-checklist *ngIf = "plan != undefined" style="margin-right:3em; margin-top:7em"></app-checklist>

        <mat-slider style="margin-top:15em" *ngIf = "plan != undefined"
        vertical
        thumbLabel
        [displayWith]="formatLabel"
        tickInterval="100"
        min="1"
        max="200"
        [(ngModel)] = "value">
        </mat-slider>
        </div>

        <form *ngIf = "plan != undefined">
                <mat-form-field >
                        <mat-label style="font-size:1.3em;">Plan</mat-label>
                                <mat-select [(ngModel)]="plan2" name="plan2">
                                        <mat-option *ngFor="let plan2 of plans2" [(value)]="plan2">
                                                        {{plan2}}
                                        </mat-option>
                                </mat-select>
                </mat-form-field>
        </form>
        
        <h3 *ngIf = "plan != undefined"> Plan {{plan2}} </h3>
        <app-two-dimensional-image class="imagesPatient"
                [patient]="patient"
                [plan]="plan2"
                [value]="value"
                >
        </app-two-dimensional-image>
        <div style="margin-top:5em; margin-right:5em;">
                <img *ngIf = "plan2 == 'PERTURBED'" src="../../../../../assets/perturbed/{{patient}}/{{plan}}/slice{{value}}.jpg" alt="">
        </div>
        
</div>









        