<mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
            Patient
            </mat-panel-title>
            <mat-panel-description>
            Choose a patient
            </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-selection-list #patientList>
                <mat-list-option *ngFor="let patient of patients">
                  {{patient}}
                </mat-list-option>
        </mat-selection-list>
</mat-expansion-panel>